@import "_mixin";
@import "_variables";

.faqFlex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 25px;
    background-color: $blanco;
    border-radius: 50px;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 30px 10px 30px 10px;
    margin: 25px;

    .infoAlert {
        @include infoAlert
    }

    .acordeonFlex {
        max-width: 1000px;
        margin: 25px;

        h2 {
            color: $negro;
            font-size: 1.25rem;
            font-family: "DM Mono", monospace;
        }

        p {
            font-family: 'Roboto', sans-serif;
            color: $negro;
        }

        a {
            color: $rojo;
            text-decoration: none;
        }

        ul {
            color: $negro;
            font-family: 'Roboto', sans-serif;
        }

        ol {
            color: $negro;
            font-family: 'Roboto', sans-serif;
        }

        span {
            color: $negro;
            font-weight: bold;
        }
    }


}