@import "_mixin";
@import "_variables";

* {
    padding: 0;
    height: auto;
    margin: 0;
    box-sizing: 0;

    button {
        padding: 0px;
    }

    h1 {
        font-family: $fuenteTitulos;
        color: $blanco;
        font-size: 3rem;
    }

    h2 {
        font-family: $fuenteTitulos;
        color: $blanco;
        font-size: 2.5rem;
    }

    h3 {
        font-family: $fuenteSubTitulos;
        color: $blanco;
        font-size: 1.75rem;
    }

    h4 {
        font-family: $fuenteTitulos;
        color: $blanco;
        font-size: 1.5rem;
    }

    p {
        font-family: $fuentePrincipal;
        color: $blanco;
        font-size: 1rem;
    }

    a {
        text-decoration: none;
    }
}

body {
    background-image: url(../media/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 0px 5px 5px 5px;
        margin: auto;
        max-width: 800px;
        max-height: 100px;
        background-color: rgba(0, 0, 0, 0.775);
        border-radius: 0px 0px 20px 20px;

        .burguer {
            background-color: none;
            display: none;
        }

        .pcNav {

            li {
                display: inline-block;
                list-style-type: none;
                padding: 5px;
                margin-right: 10px;
                border-radius: 15px;
                border: 1px solid rgb(0, 0, 0, 0.5);
                box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
                color: #ced4da;
                background-color: $gris;

                a {
                    text-decoration: none;
                    color: #ced4da;
                }

                &:hover {
                    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);
                    background-color: $rojo;
                    transition: all 0.3s ease;
                }
            }

            a {
                text-decoration: none;
                color: #ced4da;
            }
        }

        .logo {
            img {
                @include logo;
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .saltoPagina{
            display: block;
        }
    }

    footer {
        align-self: flex-end;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        height: 100px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.775);

        p {
            font-family: 'DM Mono', monospace;
            color: #dee2e6;
            font-size: 1.75rem;
        }

        .logo {
            img {
                @include logo;
            }
        }

        .redes img {
            width: 32px;

            &:hover {
                width: 38px;
                transition: all 0.3s ease;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        margin: auto;
        padding: 25px;
        max-width: 768px;

        h1 {
            font-size: 2rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        p {
            font-size: 1rem;
        }

        main {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        footer {
            max-height: 100px;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

        header {
            max-height: 100px;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            max-width: 700px;

            .burguer {
                display: inline-block;
            }

            .pcNav {
                display: none;
            }
        }
    }
}

@media (max-width: 420px) {
    body {
        margin: auto;
    }

    footer {
        margin: auto;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    main {
        margin-bottom: 120px;
    }
}