@import "_mixin";
@import "_variables";

.indexGrid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr .25fr .25fr;
    gap: 20px 20px;
    grid-template-areas:
        "action action"
        "productoDestacado1 productoDestacado2"
        "productoDestacado3 nuestraHistoria";
    width: 90%;
    margin: 20px auto 20px auto;

    .action {
        grid-area: action;
        display: flex;
        height: 90vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/actionbgrnd.jpg);
        background-size: cover;
        background-position: center center;
        border-radius: 25px;

        .actionBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px 30px 20px 30px;
            background-color: #495057b6;
            border-radius: 15px;
            @include cajaSombra;

            h1 {
                text-align: center;
                font-family: 'Roboto', sans-serif;
            }

            button {
                background-color: $rojo;
                font-size: 1.2rem;
                padding: 10px 20px;
                border-radius: 15px;
                @include cajaSombra;
                color: #ced4da;

                &:hover {
                    @include botonesChicosHover
                }
            }
        }
    }

    .productoDestacado1 {
        grid-area: productoDestacado1;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/vampFuzz.webp);
        @include productoDestacado;

        .productoTitulo {
            @include productoTitulo
        }

        .productoImagen {
            grid-area: productoImagen;
        }

        .productoTexto {
            @include productoTexto
        }
    }

    .productoDestacado2 {
        grid-area: productoDestacado2;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/serviciosLuthier.jpg);
        @include productoDestacado;

        .productoTitulo {
            @include productoTitulo
        }

        .productoImagen {
            grid-area: productoImagen;
        }

        .productoTexto {
            @include productoTexto
        }
    }

    .productoDestacado3 {
        grid-area: productoDestacado3;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/guitarraPortatil.jpg);
        @include productoDestacado;

        .productoTitulo {
            @include productoTitulo
        }

        .productoImagen {
            grid-area: productoImagen;
        }

        .productoTexto {
            @include productoTexto
        }
    }

    .nuestraHistoria {
        grid-area: nuestraHistoria;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/nuestraHistoria.jpg);
        @include productoDestacado;

        .productoTitulo {
            @include productoTitulo
        }

        .productoImagen {
            grid-area: productoImagen;
        }

        .productoTexto {
            @include productoTexto
        }
    }
}

@media (max-width: 768px) {
    .indexGrid {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px 0px;
        grid-template-areas:
            "action"
            "productoDestacado1"
            "productoDestacado2"
            "productoDestacado3"
            "nuestraHistoria";

        margin: 25px auto;
        padding: 10px;
        width: auto;
        max-width: 740px;
        justify-content: center;


        .productoDestacado1 {
            height: 60vh;
        }

        .productoDestacado2 {
            height: 60vh;
        }

        .productoDestacado3 {
            height: 60vh;
        }

        .nuestraHistoria {
            height: 60vh;
            margin-bottom: 120px;
        }
    }
}

@media (max-width: 420px) {

    .indexGrid {
        max-width: 400px;
        margin: 10px;
    }
}