@import "_mixin";
@import "_variables";

.serviciosFlex {
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 25px;
    background-color: #e9ecef;
    border-radius: 50px;
    align-self: center;
    justify-content: center;
    align-content: center;
    padding: 30px 10px 30px 10px;
    margin: 25px;

    h1 {
        color: #ff003c;
        text-align: center;
    }

    .introServicios {
        max-width: 1000px;

        p {
            text-align: justify;
            margin: 12.5px 100px 12.5px 100px;
        }

        span {
            color: #ff003c;
        }

        #introServicios {
            color: #212529;
        }
    }

    .infoAlert {
        @include infoAlert
    }

    .serviciosForm {
        max-width: 1100px;
        margin: 50px 50px 50px 50px;
    }
}

@media (max-width: 768px) {

    .serviciosFlex {
        margin: 20px;
        padding: 5px;

        .introServicios {
            padding: 10px;

            p {
                margin: 10px;
            }
        }
    }

    .serviciosform {
        max-width: 700px;
        margin: 15px;
    }
}

@media (max-width: 420px) {

    .serviciosFlex {
        margin: 10px;
        padding: 5px;

        .introServicios {
            padding: 5px;

            p {
                margin: 5px;
            }
        }


    }

    .serviciosform {
        max-width: 400px;
        margin: 5px;
    }
}