$medium: 768px;
$small: 420px;
$fuenteTitulos: "Major Mono Display", monospace;
$fuenteSubTitulos: "DM Mono", monospace;
$fuentePrincipal: "Roboto", sans-serif;
$negro: #212529;
$blanco:  #e9ecef;
$rojo: #ff003c;
$gris: #6D6B6B;