* {
  padding: 0;
  height: auto;
  margin: 0;
  box-sizing: 0;
}
* button {
  padding: 0px;
}
* h1 {
  font-family: "Major Mono Display", monospace;
  color: #e9ecef;
  font-size: 3rem;
}
* h2 {
  font-family: "Major Mono Display", monospace;
  color: #dee2e6;
  font-size: 2.5rem;
}
* h3 {
  font-family: "DM Mono", monospace;
  color: #dee2e6;
  font-size: 1.75rem;
}
* h4 {
  font-family: "Major Mono Display", monospace;
  color: #dee2e6;
  font-size: 1.5rem;
}
* p {
  font-family: "Roboto", sans-serif;
  color: #ced4da;
  font-size: 1rem;
}
* a {
  text-decoration: none;
}

body {
  background-image: url(../media/background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 5px 5px 5px;
  margin: auto;
  max-width: 800px;
  max-height: 100px;
  background-color: rgba(0, 0, 0, 0.775);
  border-radius: 0px 0px 20px 20px;
}
body header .burguer {
  background-color: none;
  display: none;
}
body header .pcNav li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #ced4da;
  background-color: #6D6B6B;
}
body header .pcNav li a {
  text-decoration: none;
  color: #ced4da;
}
body header .pcNav li:hover {
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);
  background-color: #ff003c;
  transition: all 0.3s ease;
}
body header .pcNav a {
  text-decoration: none;
  color: #ced4da;
}
body header .logo img {
  height: 90px;
  width: auto;
  margin: 5px;
}
body header .logo img:hover {
  height: 95px;
  transition: all 0.3s ease;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body footer {
  align-self: flex-end;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.775);
}
body footer p {
  font-family: "DM Mono", monospace;
  color: #dee2e6;
  font-size: 1.75rem;
}
body footer .logo img {
  height: 90px;
  width: auto;
  margin: 5px;
}
body footer .logo img:hover {
  height: 95px;
  transition: all 0.3s ease;
}
body footer .redes img {
  width: 32px;
}
body footer .redes img:hover {
  width: 38px;
  transition: all 0.3s ease;
}

.indexGrid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.25fr 0.25fr;
  gap: 20px 20px;
  grid-template-areas: "action action" "productoDestacado1 productoDestacado2" "productoDestacado3 nuestraHistoria";
  width: 90%;
  margin: 20px auto 20px auto;
}
.indexGrid .action {
  grid-area: action;
  display: flex;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/actionbgrnd.jpg);
  background-size: cover;
  background-position: center center;
  border-radius: 25px;
}
.indexGrid .action .actionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px 20px 30px;
  background-color: rgba(73, 80, 87, 0.7137254902);
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.indexGrid .action .actionBox h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.indexGrid .action .actionBox button {
  background-color: #ff003c;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: #ced4da;
}
.indexGrid .action .actionBox button:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.75);
  padding: 15px 30px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}
.indexGrid .productoDestacado1 {
  grid-area: productoDestacado1;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/vampFuzz.webp);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1.75fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "productoTitulo" "productoImagen" "productoTexto";
  max-height: 500px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  border: solid #000000 2.5px;
}
.indexGrid .productoDestacado1:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}
.indexGrid .productoDestacado1 .productoTitulo {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  grid-area: productoTitulo;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.775);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  text-align: center;
}
.indexGrid .productoDestacado1 .productoImagen {
  grid-area: productoImagen;
}
.indexGrid .productoDestacado1 .productoTexto {
  grid-area: productoTexto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/productoTextoBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 25px 25px;
}
.indexGrid .productoDestacado2 {
  grid-area: productoDestacado2;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/serviciosLuthier.jpg);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1.75fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "productoTitulo" "productoImagen" "productoTexto";
  max-height: 500px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  border: solid #000000 2.5px;
}
.indexGrid .productoDestacado2:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}
.indexGrid .productoDestacado2 .productoTitulo {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  grid-area: productoTitulo;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.775);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  text-align: center;
}
.indexGrid .productoDestacado2 .productoImagen {
  grid-area: productoImagen;
}
.indexGrid .productoDestacado2 .productoTexto {
  grid-area: productoTexto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/productoTextoBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 25px 25px;
}
.indexGrid .productoDestacado3 {
  grid-area: productoDestacado3;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/guitarraPortatil.jpg);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1.75fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "productoTitulo" "productoImagen" "productoTexto";
  max-height: 500px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  border: solid #000000 2.5px;
}
.indexGrid .productoDestacado3:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}
.indexGrid .productoDestacado3 .productoTitulo {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  grid-area: productoTitulo;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.775);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  text-align: center;
}
.indexGrid .productoDestacado3 .productoImagen {
  grid-area: productoImagen;
}
.indexGrid .productoDestacado3 .productoTexto {
  grid-area: productoTexto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/productoTextoBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 25px 25px;
}
.indexGrid .nuestraHistoria {
  grid-area: nuestraHistoria;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/nuestraHistoria.jpg);
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1.75fr 1fr;
  gap: 5px 5px;
  grid-template-areas: "productoTitulo" "productoImagen" "productoTexto";
  max-height: 500px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  border: solid #000000 2.5px;
}
.indexGrid .nuestraHistoria:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}
.indexGrid .nuestraHistoria .productoTitulo {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  grid-area: productoTitulo;
  margin: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.775);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 25px 25px 0px 0px;
  width: 100%;
  text-align: center;
}
.indexGrid .nuestraHistoria .productoImagen {
  grid-area: productoImagen;
}
.indexGrid .nuestraHistoria .productoTexto {
  grid-area: productoTexto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../media/productoTextoBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 25px 25px;
}

main .historiaGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1300px;
  margin: 25px;
  background-color: #e9ecef;
  border-radius: 100px;
  align-self: center;
}
main .historiaGrid h1 {
  color: #ff003c;
}
main .historiaGrid h2 {
  color: #ff003c;
}
main .historiaGrid h3 {
  color: #ff003c;
}
main .historiaGrid p {
  font-size: 1.5rem;
  color: #212529;
}
main .historiaGrid span {
  color: #ff003c;
}
main .historiaGrid .auroraInicios {
  margin: 25px;
  max-width: 1200px;
}
main .historiaGrid .auroraInicios .tituloArticulo1 {
  align-items: center;
  text-align: center;
  margin: 25px;
}
main .historiaGrid .auroraInicios .parrafo1 {
  max-width: 600px;
  align-items: center;
  text-align: right;
  margin: auto 0px auto 5px;
}
main .historiaGrid .imagen1 {
  max-width: 600px;
  display: grid;
  grid-template-rows: 1fr 0.25fr;
  grid-gap: 5px;
  align-content: center;
  justify-content: center;
}
main .historiaGrid .imagen1 img {
  height: auto;
  max-width: 90%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
}
main .historiaGrid .imagen1 p {
  color: #212529;
  font-size: 0.75rem;
  text-align: center;
  height: 5px;
}
main .historiaGrid .parrafo2 {
  text-align: center;
  margin: 10px auto 10px auto;
}
main .historiaGrid .parrafo2 p {
  margin: 50px;
}
main .historiaGrid .tallerInicios {
  max-width: 1200px;
  margin: 25px;
  align-self: center;
}
main .historiaGrid .tallerInicios .tituloArticulo2 {
  text-align: right;
  align-self: center;
  margin: 25px;
}
main .historiaGrid .tallerInicios .parrafo3 {
  max-width: 600px;
  text-align: right;
}
main .historiaGrid .tallerInicios .imagen2 {
  max-width: 600px;
  display: grid;
  grid-template-rows: 1fr 0.25fr;
  grid-gap: 5px;
  align-content: center;
  justify-content: center;
}
main .historiaGrid .tallerInicios .imagen2 img {
  height: auto;
  max-width: 90%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
}
main .historiaGrid .tallerInicios .imagen2 p {
  color: #212529;
  font-size: 0.75rem;
  text-align: center;
  height: 5px;
}
main .historiaGrid .parrafo4 {
  margin: auto;
  align-items: center;
}
main .historiaGrid .parrafo4 p {
  text-align: center;
  align-self: center;
  margin: auto;
  max-width: 1000px;
  background-color: #c8002f;
  border-radius: 25px;
  padding: 25px;
  color: #ced4da;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
}
main .historiaGrid .parrafo4 h3 {
  text-align: right;
  margin: 25px;
}
main .historiaGrid .epocaDorada {
  max-width: 1200px;
  margin: 25px;
  align-self: center;
}
main .historiaGrid .epocaDorada .tituloArticulo3 {
  margin: 25px;
  text-align: center;
  align-self: center;
}
main .historiaGrid .epocaDorada .parrafo5 {
  text-align: center;
  margin: 50px auto 50px auto;
  align-self: center;
}
main .historiaGrid .epocaDorada div .parrafo6 {
  max-width: 600px;
  text-align: right;
  align-self: flex-end;
  margin: 12.5px 0px 12.5px 25px;
}
main .historiaGrid .epocaDorada div .parrafo7 {
  max-width: 600px;
  text-align: right;
  align-self: flex-start;
  margin: 12.5px 0px 12.5px 25px;
}
main .historiaGrid .epocaDorada .imagen3 {
  max-width: 600px;
  display: grid;
  grid-template-rows: 1fr 0.25fr;
  grid-gap: 5px;
  align-content: center;
  justify-content: center;
}
main .historiaGrid .epocaDorada .imagen3 img {
  height: auto;
  max-width: 90%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
}
main .historiaGrid .epocaDorada .imagen3 p {
  color: #212529;
  font-size: 0.75rem;
  text-align: center;
  height: 5px;
}
main .historiaGrid .artCraft4ever {
  max-width: 1200px;
  margin: 25px;
  justify-content: center;
  align-self: center;
}
main .historiaGrid .artCraft4ever .tituloArticulo4 {
  text-align: center;
  align-self: center;
  margin: 25px;
}
main .historiaGrid .artCraft4ever .parrafo8 {
  text-align: justify;
  margin: 10px auto 10px auto;
  max-width: 400px;
}
main .historiaGrid .artCraft4ever .parrafo9 {
  text-align: justify;
  margin: 10px auto 10px auto;
  max-width: 400px;
}
main .historiaGrid .artCraft4ever .imagen5 {
  max-width: 600px;
  display: grid;
  grid-template-rows: 1fr 0.25fr;
  grid-gap: 5px;
  align-content: center;
  justify-content: center;
}
main .historiaGrid .artCraft4ever .imagen5 img {
  height: auto;
  max-width: 90%;
  margin: auto;
  border-radius: 25px;
  box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.5);
}
main .historiaGrid .artCraft4ever .imagen5 p {
  color: #212529;
  font-size: 0.75rem;
  text-align: center;
  height: 5px;
}

/*# sourceMappingURL=style.css.map */
